.nav2{
    
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.ImgName{
    margin-left: 50px;
    margin: 5px;
}
.cartt{
    margin-right: 50px;
}
.ImgName span{
    margin-top: 8px;
}
.ImgName img{
    margin-bottom: 5px;
    margin-right: 15px;
}
.navbox{
    margin: auto;
    align-items: baseline;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
i{
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.second_heading{
    color: wheat;
    cursor: pointer;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 25px;
}