
.space{
    display: flex;
    justify-content: space-between;
}
.primary_body{
    margin-top: 100px;
}
.imgtext h1{
    margin-top: 15%;
    margin-left: 25px;
    font-weight: 900;
    -webkit-text-stroke-color: rgb(36, 0, 165);
    -webkit-text-stroke-width: 3px;
    font-size: 500%;
    color: transparent;
}
.imgtext p{
    color: rgb(41, 0, 0);
    font-size: 15px;
    margin-left: 20px;
    font-weight: 700;
}
.cdimg{
    width: 20%;
}
.cdimg{
    margin-right: 15px;
    margin-right: 25px;
}
.row{
    margin-left: 10%;
    background-color: bisque;
}
.backaa{
    padding: 1%;
    background-color: bisque;
}
.card-img-top{
    margin-top: 10px;
    align-items: center;
}
.mainimg{
    -webkit-filter: brightness(-100);
}
footer{
    background-color: cornflowerblue;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
footer span{
    -webkit-text-stroke-width: 0.5PX;
    -webkit-text-stroke-color: rgb(192, 192, 192);
}
.footer{
    display: flex;
    justify-content: space-between;
}