.primary_body{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
.subhedding{
    font-size: 72px;
}
.firstpara{
    font-size: large;
}
.firstparagrph{
    margin-right: 50%;
}
.secondary_display{
    margin-left: 15%;
    margin-right: 20%;
}
.Main_heading{
    font-size: 36px;
}
.tertory{
    margin: 25px;
}
